 body {
     scroll-behavior: smooth;
     padding-top: 50px;
}
.profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    margin-bottom: 20px;
}
#scrollTopBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 12px 18px;
    border: none;
    background: #0d6efd;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    display: none;
    cursor: pointer;
}
.hobby-circle {
    background-color: #f0f0f0;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 0 auto 0.5rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.hobby-circle:hover {
    transform: scale(1.2);
    background-color: #007BFF; 
    color: white;
    transition: all 0.2s ease;
}
.card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0,0,0,0.3); 
    transition: all 0.3s ease; 
}
.navbar-nav .nav-link:hover {
    color: #007BFF; 
    text-decoration: underline;
    transition: color 0.2s ease;
}
.badge:hover {
    background-color: #0056b3; 
    cursor: pointer; 
    transform: scale(1.1); 
    transition: all 0.2s ease;
}